<h1>Jobs#new</h1>
<p>Find me in app/views/jobs/new.html.erb</p>

<%= form_for @job do |f| %>
	<p>
		<%= f.label :description, "Description" %>
		<%= f.text_area :description %>
	</p>
	<p>
		<%= f.label :origin, "Origin" %>
		<%= f.text_area :origin %>
	</p>
	<p>
		<%= f.label :destination, "Destination" %>
		<%= f.text_area :destination %>
	</p>
	<p>
		<%= f.label :container_amount, "Container Amount" %>
		<%= f.text_area :container_amount %>
	</p>
	<p>
		<%= f.label :cost, "Cost" %>
		<%= f.text_area :cost %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>