<!-- form for creating a new job -->
<%= form_for @job do |f| %>
	<p>
		<%= f.label :description, "Description" %>
		<%= f.text_area :description %>
		<i>Minimum 50 character description</i>
	</p>
	<p>
		<%= f.label :origin, "Origin" %>
		<%= f.select :origin, ['China', 'Finland', 'Spain', 'US'] %>
	</p>
	<p>
		<%= f.label :destination, "Destination" %>
		<%= f.select :destination, ['China', 'Finland', 'Spain', 'US'] %>
	</p>
	<p>
		<%= f.label :container_amount, "Container Amount" %>
		<%= f.text_area :container_amount %>
	</p>
	<p>
		<%= f.label :cost, "Cost" %>
		<%= f.text_area :cost %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>